
<nav class="navbar navbar-dark bg-secondary shadow-lg">
  <p class="navbar-brand mt-2">{{title|titlecase}}</p>
  <ul class="nav justify-content-end">
    <li class="nav-item mr-3"><a class="nav-link btn btn-outline-primary text-light" routerLink="login"  routerLinkActive="active">Login</a></li>
    <li class="nav-item"><a class="nav-link btn btn-outline-primary text-light" routerLink="register" routerLinkActive="active">Register</a></li>
  </ul>
</nav>
<router-outlet class="container"></router-outlet>